.contac{
    background-image: url(./img/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    flex-direction: column;
    .contContainer{
        display: flex;
        align-items: center;
        .contacto{
            padding: 20px;
            .contenContacto{
                display: flex;
                align-items: center;
                gap: 10px;
                padding-top: 10px;
            }
        }
        .mapa{
            max-width: 400px;
            max-height: 200px;
        }

    }
    .segContainer{
        display: flex;
        align-items: center;
        .seguinos{
            padding: 20px;
        }
    }
}