*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.headerRest{
    background: rgb(105,20,14);
    background: radial-gradient(circle, rgba(105,20,14,1) 0%, rgba(213,137,54,1) 100%);
    position: relative;
    z-index: 1;
    width: 100%;
}