@media screen and (min-width:300px) and (max-width:530px){
    /*Index*/
    .titulo{
        font-size: 45px;
        left: 0;
        background-color: black;
        opacity: 0.7;
    }
    /*Nosotros*/
    .nosotros{
        .quienesText{
            flex-direction: column;
            .aboutTxt{
                width: 100%;
            }
            .aboutImg{
                .imgNosotros{
                    width: 100%;
                }
            }
        }
        .about_vmv{
            flex-direction: column;
            align-items: center;
            .mision{
                width: 100%; 
                margin-top: 5px;
            }
            .vision{
                width: 100%;
                margin-top: 5px;
            }
            .valor{
                width: 100%;
                margin-top: 5px;
            }
        }
    }
    /*Servicios*/
  .comedor{
    flex-direction: column;
    align-items: center;
    .inSitu{
        width: 100%;
    }
    .viandas{
        width: 100%;
    }
    .desYmer{
        width: 100%;
    }
  }  

    /*Galeria*/
    .galeria{
        .carousel{
            width: 100%;
            left: 0;
        }
        .imgColab{
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
        }
    }
    /*Contacto*/
    .contac{
        background-position: 50%;
        align-items: center;
        flex-direction: column;
        height: 200%;

        .formulario{
            position: relative;
            top: 10%;
            width: 100%;
        }
        .datos{
            flex-direction: column;
            .contContainer{
                flex-direction: column;
                top: 25%;
                width: 100%;
                .contacto{
                    padding: 0;
                    .mapa{
                        width: 100%;
                    }
                }
                h3{
                    background-color: black;
                    opacity: 0.8;
                    margin: 5px 0 0 0;
                }
            }
            .segContainer{
                position: relative;
                flex-direction: column;
                top: 60%;
                width: 100%;
         
                h3{
                    background-color: black;
                    opacity: 0.8;
                }
                .seguinos{
                    padding: 0 0 20px 0;
                    .contenContacto{
                        display: flex;
                        align-items: center;
                        p{
                            margin-bottom: 0;
                            padding: 10px;
                        }
                    }
                }
            }
          }
        }
        
}