.nosotros{
    background-image: url(./img/fondopage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .quienesText{
        display: flex;
        justify-content: space-around ;
        align-items: center;
        .aboutTxt{
            color: white;
            background-color: black;
            opacity: 0.7;
            width: 40%;
            height: 30%;
            text-align: center;
            vertical-align: middle;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
    }
    .about_vmv{
        display: flex;
        justify-content: space-around;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        .mision{
            background-color: black;
            opacity: 0.7;
            color: white;
            width: 30%;
            text-align: center;
            h3{
                text-decoration: underline double;
            }
        }
        
        .vision{
            @extend .mision;
            h3{
                text-decoration: underline double;
            }
        }

        .valor{
            @extend .mision;
            h3{
                text-decoration: underline double;
            }
            .listValor{
                list-style-type: none;
            }
        }
        
    }
}