.footerContac{
    position: fixed;
    bottom: 20px;
    right: 20px
}
footer{
    position: fixed;
    bottom: 0;
    background-color: $color_footer;
    @include tamanof (100%,20px);
    @include posfooter;
    h6{
        color: white;
        text-align: center;
        margin-bottom: 0;
    }
}