.footerContac{
    position: fixed;
    bottom: 20px;
    right: 20px
}
footer{
    position: fixed;
    bottom: 0;
    background:linear-gradient(315deg, #a55c1b 0%, #000000 74%);
    @include tamanof (100%,20px);
    @include posfooter;
    h6{
        color: white;
        text-align: center;
        margin-bottom: 0;
    }
}